<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>Sheldon Comics</title>

	    <!-- BOOTSTRAP -->
	    <link href="css/bootstrap_flatly.min.css" rel="stylesheet">
	    <link href="css/font-awesome.min.css" rel="stylesheet">
	    <link href="css/social-buttons.css" rel="stylesheet">

	    <!-- CUSTOM STYLES FOR THIS TEMPLATE -->
	    <!-- <link href="css/navbar-fixed-top.css" rel="stylesheet"> -->

	    <!-- CUSTOM APP STYLES -->
	    <link href="css/app_styles.css" rel="stylesheet">

	</head>

	<body>

	<div class="wrapper">

	<div id="base_header" class="navbar navbar-inverse">

	<div class="navbar-collapse collapse navbar-inverse-collapse">
	<ul class="nav navbar-nav">
	  <li class="active" ><a href="#">Comics</a></li>
	  <li><a href="#gender">Genders</a></li>
	  <li><a href="#editions">Editions</a></li>
	  <li><a href="#news">News</a></li>
	  <li><a href="#characters">Characters</a></li>
	  <li><a href="#search">Search</a></li>
	  <li class="admin_action"><a href="#">Administration</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><form class="navbar-form navbar-left">
	  <input type="text" class="form-control col-lg-10" placeholder="Search">
	</form></li>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="current_user">Account <b class="caret"></b></a>
	    <ul class="dropdown-menu">
	      <li><a href="#">Profile</a></li>
	      <li><a href="#">Account</a></li>
	      <li class="divider"></li>
	      <li><a href="#logout">Logout</a></li>
	    </ul>
	  </li>
	</ul>
	</div>
	<div>
	</div>
	<div>
      <div id="banner" >
      <!-- <h1 id="banner_text"> Your Ad goes here</h1> -->
	  </div>

      </div>
    </div>
	<article id="main_content">
		
	</article>
	<div class="push"></div>
	</div>

	<script type="text/template" id="login_template">
		<div class="form_content">
		<form class="form-signin" action="#">
			<h2 class="form-signin-heading">Please sign in</h2>
			<div id="form_username_container">
				<input id="form_username" type="text" class="form-control input-block-level login_input validate-text" placeholder="Username">
				<p id="form_username_help" class="bg-danger"></p>
			</div>
			<div id="form_password_container">
				<input id="form_password" type="password" class="form-control input-block-level login_input validate-text" placeholder="Password">
				<p id="form_password_help" class="bg-danger"></p>
			</div>
			<div class="login_options">
				<button id="login_button"  disabled class="btn btn-large btn-success" type="button">Sign in</button>
			</div>
			<div class="login_alternative" style="border-top: 1px solid;">
				new user? <a href="#register">register </a>
			</div>
			<% if(options.error){%>
			<div class="alert alert-danger" role="alert">
		        <strong>Error!</strong> <%= options.error %>
		      </div>
		    <% }; %>

		</form>	
		</div>

	</script>

	<script type="text/template" id="editions_template">
	<h1>editions_template</h1>
	</script>

	<script type="text/template" id="search_template">

	<div class="container">
    <div class="row">    
        <div id="search_box" class="col-xs-10">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Search by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a id="serch_all" href="" class="search-option">All</a></li>
                      <li class="divider"></li>
                      <li><a id="search_title"class="search-option" href="#" style="cursor: default;">Title</a></li>
                      <li><a id="search_edition"class="search-option" href="">Edition</a></li>
                      <li><a id="search_characters"class="search-option" href="">Characters</a></li>
                      <li><a id="search_other" class="search-option" href="">other</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>



	<div class="something">
		<div id="search_result">

		<!-- <div class="jumbotron">
		  <h1>Comic List</h1>
		  <p>...</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
		 -->

		</div>


		</div>





	</div>




	</div>



	</script>


	<script type="text/template" id="news_template">
	<h1>news_template</h1>
	</script>


	<script type="text/template" id="characters_template">
	<h1>characters_template</h1>
	</script>

	<script type="text/template" id="register_template">
		<div class="form_content">
		<form class="form-signin" action="#">
			<h2 class="form-signin-heading">Registration</h2>
			<div id="register_name_container">
				<input id="register_name" type="text" class="form-control input-block-level register_input validate-text" placeholder="Name">
				<p id="register_name_help" class="bg-danger"></p>

			</div>

			<div id="register_username_container">
				<input id="register_username" type="text" class="form-control input-block-level register_input validate-text" placeholder="Username">
				<p id="register_username_help" class="bg-danger"></p>

			</div>
			<div id="register_password_container">
			<input id="register_password" type="password" class="form-control input-block-level password register_input validate-text validate-length" placeholder="Password">
			<p id="register_password_help" class="bg-danger"></p>

			</div>
			<div class="login_options">
				<button id="register_button" disabled class="btn btn-large btn-success register_input" type="button">Register</button>
			</div>

			<div class="login_alternative" style="border-top: 1px solid;">
				already a user? <a href="#login">sign in</a>
			</div>
			
		</form>	
		</div>

	</script>

	<script type="text/template" id="comic_list_template">
	<% if(!hide_sidebar){ %>
		<div class="row">
		        <div class="col-sm-4 col-md-3 sidebar">
		    <div class="mini-submenu">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </div>
		    <div class="list-group">
		        <p href="#" class="list-group-item bg-danger" id="comic_categories">
		            Categories
		        </p>
		        <a href="#" class="list-group-item" id="comic_all">
		            <i class="fa fa-globe"></i> All
		        </a>
		        <a id="comic_searches" href="#" class="list-group-item">
		            <i class="fa fa-search"></i> Searches 
		        </a>
		        <a href="#" class="list-group-item" id="comic_popular">
		            <i class="fa fa-fire"></i>
		             Popular
		        </a>
		        <a href="#" class="list-group-item" id="comic_qualifications">
		            <i class="fa fa-star-half-full"></i>
		             Qualifications
		        </a>
		        <a href="#" class="list-group-item" id="comic_top">
		            <i class="fa fa-angellist"></i> Top
		        </a>

		        <a href="#" class="list-group-item" id="comic_recommended">
		            <i class="fa fa-bar-chart-o"></i> Recommended 
		        </a>

		    </div>        
		</div>
<% }; %>
		<div <% if(!hide_sidebar){ %> class="col-sm-7 col-md-9 sidebar" <% }; %>>

		<% comics_collection.each(function(comic){ %>

			<div class="comic">
				<img src="<%= comic.get('cover_image') %>">

			</div>

		<% }); %>
		<!-- <div class="jumbotron">
		  <h1>Comic List</h1>
		  <p>...</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
		 -->

		</div>
		</div>
	</script>

	<script type="text/template" id="gender">

<div id="genders_content">
    
<h1> Genres </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>


<div class="gender bg-blue">

<img class="gender_image" src="images/comic_1.jpg" width="100em"/>

<h2>Action</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor.</p>

</div>


<div class="gender bg-green">

<img class="gender_image" src="images/comic_2.jpg" width="100em"/>
<h2>Adventure</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>

</div>

<div class="gender bg-blue">

<img class="gender_image" src="images/comic_3.jpg" width="100em"/>
<h2>Horror</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>

</div>

<div class="gender bg-green">

<img class="gender_image" src="images/comic_4.jpg" width="100em"/>
<h2>Funny</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>

</div>
</div>




	</script>

	<footer id="base_footer" class="navbar-fixed-bottom">
	<ul class="share-buttons">
		<li><a>Edition |</a></li>
		<li><a>News |</a></li>
		<li><a>Sitemap |</a></li>
		<li><a>Network |</a></li>
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsheldoncomics.com&t=shelcomics" target="_blank"><img src="images/flat_web_icon_set/color/Facebook.png"></a></li>
		<li><a>|</a></li>
		<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fsheldoncomics.com&text=shelcomics:%20http%3A%2F%2Fsheldoncomics.com" target="_blank" title="Tweet"><img src="images/flat_web_icon_set/color/Twitter.png"></a></li>
		<li><a>|</a></li>
		<li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fsheldoncomics.com&t=shelcomics&s=" target="_blank" title="Post to Tumblr"><img src="images/flat_web_icon_set/color/Tumblr.png"></a></li>
		<li><a>|</a></li>
		<li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fsheldoncomics.com&title=shelcomics" target="_blank" title="Submit to Reddit"><img src="images/flat_web_icon_set/color/Reddit.png"></a></li>
	</ul>
	</footer>
	<!-- LIBRARIES -->
	<script src="js/lib/jquery-1.11.1.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="js/lib/backbone.routefilter.min.js"></script>
	<script src="js/lib/backbone-validation-min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>

	<!-- APP LIBRARIES/UTILS -->
	<script src="js/app/app.js"></script>
	<script src="js/app/session.js"></script>

	<!-- APP MODELS -->
	<script src="js/app/models/user_model.js"></script>
	<script src="js/app/models/loan_model.js"></script>
	<script src="js/app/models/comic_model.js"></script>

	<!-- APP COLLECTIONS -->
	<script src="js/app/collections/user_collection.js"></script>
	<script src="js/app/collections/loan_collection.js"></script>
	<script src="js/app/collections/comic_collection.js"></script>

	<!-- APP VIEWS -->
	<script src="js/app/views/base_view.js"></script>
	<script src="js/app/views/register_view.js"></script>
	<script src="js/app/views/user_view.js"></script>
	<script src="js/app/views/loan_view.js"></script>
	<script src="js/app/views/comic_view.js"></script>
	<script src="js/app/views/login_view.js"></script>
	<script src="js/app/views/gender_view.js"></script>
	<script src="js/app/views/search_view.js"></script>
	<script src="js/app/views/generic_view.js"></script>

	<!-- APP ROUTERS -->
	<script src="js/app/router.js"></script>
	<script src="js/app/init.js"></script>
	<script src="js/app/data/seed.js"></script>

	</body>
</html>