<div id="genders_content">
    
<h1> Genres </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>


<div class="gender bg-blue">

<img class="gender_image" src="images/comic_1.jpg" width="100em"/>

<h2>Action</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor.</p>

</div>


<div class="gender bg-green">

<img class="gender_image" src="images/comic_2.jpg" width="100em"/>
<h2>Adventure</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>

</div>

<div class="gender bg-blue">

<img class="gender_image" src="images/comic_3.jpg" width="100em"/>
<h2>Horror</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>

</div>

<div class="gender bg-green">

<img class="gender_image" src="images/comic_4.jpg" width="100em"/>
<h2>Funny</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis mi, mollis ac mattis eget, malesuada sit amet ex. Phasellus mollis ultrices ipsum eleifend facilisis. Vestibulum ut nisl tincidunt, mattis augue ornare, lobortis dolor. Proin et ipsum mauris. Morbi tristique accumsan tellus, non congue neque vehicula vitae. Sed in libero eget massa porta faucibus. In id sagittis augue, vehicula pulvinar risus. Nam ullamcorper diam vitae risus venenatis, eget imperdiet odio bibendum.</p>

</div>
</div>
