<div class="form_content">
<form class="form-signin" action="#">
	<h2 class="form-signin-heading">Registration</h2>
	<input id="register_name" type="text" class="input-block-level" placeholder="Name">
	<input id="register_username" type="text" class="input-block-level alfanumeric_field" placeholder="Username">
	<input id="register_password" type="password" class="input-block-level password" placeholder="Password">
	<div class="login_options">
		<button id="regbutton" class="btn btn-large btn-primary" type="submit">Register</button>
		<a href="#login"> or sign in </a>
	</div>

</form>	
</div>
